*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1220px;
    margin: 0 auto;
}
header{
    padding: 20px;
    background-color: #101220;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left,.right{
    display: flex;
    align-items: center;
    gap: 20px;
}
header h1{
    color: white;
}
select{
    background-color: #101220;
    box-shadow: 0px 0px 11px 0px #FFFFFF;
 color: white;
 padding: 10px 20px;
 width: 150px;
 border-radius: 10px;
}
header button{
    padding: 9px 30px ;
    background-color: #BFAFF2;
    color: black;
    border-radius: 30px;
    border: none;
}
header button:hover{
    background-color: #0c0e18;
    color: white;
}
main{
    background-color: #101220;
    padding: 50px 0;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-top: 300px;
}
.card{
    width: 350px;
    height: 240px;
    text-align: center;
    padding: 25px;
    border-radius: 25px;
    color: white;
    background-color: #232028;
}
.card img{
    margin-top: -300px ;
}
